.label {    
    padding: 8px;
    margin: 4px;

    text-transform: uppercase;
    text-align: center;
    
    background-color: transparent;

    border-radius: 6px;

    -webkit-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.label-minimal {    
    padding: 5px;
    margin: 2px;

    text-align: center;
    
    background-color: transparent;

    color: rgba(255, 255, 255, 0.90);

    border-radius: 6px;
    border: 1px solid rgba(0, 0, 243, .8);
}

.common-label {
    border: 1px solid rgba(0, 0, 243, .8);
}

.common-label:hover {
    background-color: rgba(0, 0, 243, .2);
    color: white;
    outline: 0;
}

.common-label-selected, .common-label-selected:hover {
    background-color: rgba(0, 0, 243, .4);
    color: white;
    outline: 0;
}